

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;

}

/* Overlay */

.overlay {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-active {
  transform: translateX(0);
}

.overlay-hidden {
  transform: translateX(-100vw);
  transition-delay: 1.9s;
}


/* --- Navigation Menu ------------------------------ */

.nav {
  height: 100%;
  
}

.ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: inherit;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}


/* nav items */



.list {
  height: 20%;
  overflow: hidden;
  transform: translateX(-100vw);
}

.list a {
  position: relative;
  top: 35%;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  display: block;
}

.list a:hover {
  transform: scale(1.1);
}

#nav-1 {
  background-color: var(--navColor1);
}

#nav-2 {
  background-color: var(--navColor2);
}

#nav-3 {
  background-color: var(--navColor3);
}

#nav-4 {
  background-color: var(--navColor4);
}

#nav-5 {
  background-color: var(--navColor5);
}

/* nav list animation */

.nav-1-animation {
  animation-name: nav-animation;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.nav-2-animation {
  animation-name: nav-animation;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

.nav-3-animation {
  animation-name: nav-animation;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}

.nav-4-animation {
  animation-name: nav-animation;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

.nav-5-animation {
  animation-name: nav-animation;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

@keyframes nav-animation {
  from {transform: translateX(-100vw);}
  to {transform: translateX(0);}
}

/* navigation animation reverse */

.nav-1-animation-reverse {
  animation-name: nav-animation-reverse;
  animation-duration: 1s;
  animation-delay: 0;
  animation-fill-mode: both;
}

.nav-2-animation-reverse {
  animation-name: nav-animation-reverse;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.nav-3-animation-reverse {
  animation-name: nav-animation-reverse;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

.nav-4-animation-reverse {
  animation-name: nav-animation-reverse;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}

.nav-5-animation-reverse {
  animation-name: nav-animation-reverse;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

@keyframes nav-animation-reverse {
  from {transform: translateX(0);}
  to {transform: translateX(-100vw);}
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.hamburger-container {
  display: inline-block;
  position: fixed;
  z-index: 10;
  right: 13px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

section#home {
  background-image: url("https://images.unsplash.com/photo-1581453904507-626ddb717f14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
  background-size: cover;
  background-position: center center;
}

section#home a {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
}

section#about {
  background-color: var(--navColor2);
}

section#skills {
  background-color: var(--navColor3);
}

section#projects {
  background-color: var(--navColor4);
}

section#contact {
  background-color: var(--navColor5);
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
}
